input {
    position: absolute;
    top: 0;
    left: 0;
    /* transparent background */
    background: rgba(0, 0, 0, 0);
}

#play {
    position: absolute;
    top: 0;
    left: 55px;
}

#won {
    display: none;
}

#cancel {
    position: absolute;
    top: 60px;
    left: 0;
}

h2 {
    position: absolute;
    top: 20px;
    left: 0;
}

#switch-3d {
    position: absolute;
    top: 40px;
    left: 0;
}

.over-underline:hover {
    text-decoration: underline;
}

.grey {
    color: grey;
}

body {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#title {
    position: absolute;
    color: black;
    /* center in x axis */
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}

.links {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    margin: 10px;
}

.links>a {
    margin-right: 20px;
}

.links p:hover {
    text-decoration: underline;
}

.links img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.links img {
    width: 40px;
    height: 40px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .15s ease-in-out;
    transition: .15s ease-in-out;
}